body {
}

header {
    background-color:#ffffff;
    border-bottom: solid #cccccc;
    height:68px;
    width:110%;
    
}

.myName {
    position: relative;
    top: 0px;
    left:219px;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    width: 200px;
    float: left;
    font-weight:bold;
    font-size: 28px;
    padding: 20px;
}

.Nav {
    position: relative;
    top: 28px;
    left: 732px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    
}

li {
    list-style: none;
    float:left
    
}

#item1 {
    padding-right: 10px;

}

#item2 {
    padding-right: 10px;
    padding-left: 10px;
    border-left:#eeeeee solid;
    border-right:#eeeeee solid;
    
}

#item3 {
    padding-left:10px;
    

}

.list-link {
    color:#777777;
    text-decoration:none;
}

.main-content {
    background-color:#ffffff;
    width:960px;
    border-bottom:solid #cccccc 100px;
    border-left:solid #cccccc 220px;
    border-top:solid #cccccc 40px;
    border-right:solid #cccccc 200px;
    overflow:auto;
    
}

.main-header {
    position: relative;
    font-size: 28px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
    margin-left: 20px;
    border-bottom: #cccccc solid;
    width: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-pic {
    padding:20px;
    float:left;

}

.main-text {
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:20px;
}

footer {
    text-align:center;
    background-color: #666666;
    border-top: solid #4aaaa5 10px;
    height:80px;
    width:110%;
}

.foot-text {
    font-size:10px;
    color:white;
    position: relative;
    top:64px;
}

.message-box {
    height: 150px;
    width:915px;
    margin-left:20px;
}

.name-box {
    width:915px;
    margin-left:20px;
    color:#777777;
}

.email-box {
    width:915px;
    margin-left:20px;
    color:#777777;
}

.input-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    color: #777777;
    padding-top: 20px;
    padding-bottom: 5px
}

#submit-button {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    width: 52px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#headphones {
    position:relative;
    padding:20px;
}

#city {
    position:relative;
    padding:20px;
}

#tiger {
    position:relative;
    padding:20px;
}

#dog {
    position:relative;
    padding:20px;
}

#traffic {
    position:relative;
    padding:20px;
}